@using net_il_mio_fotoalbum
@model List<Photo>

@if (User.IsInRole("ADMIN"))
{
    <a href="@Url.Action("Create", "Photo")" class="btn btn-primary">AGGIUNGI FOTO</a>


    <div class="d-flex justify-content-center align-items-center flex-wrap">

        @foreach (var photo in Model)
        {
            <div class="card align-items-center m-3 pb-2" style="width: 400px;">
                <img src="@photo.Image" class="card-img-top" alt="@photo.Title" style="object-fit: cover; max-height: 265px">
                <div class="card-body d-flex flex-column align-items-center" style="width: 100%">
                    <h2 class="card-title text-center">@photo.Title</h2>
                    <p class="card-text text-center">@photo.Description</p>
                    <h4 class="card-text text-center">Visibile: @(photo.Visible ? "Si" : "No")</h4>
                    <a href="@Url.Action("GetPhoto", "Photo", new { id = photo.Id } )" style="width: 70%;" class="btn btn-primary">DETTAGLI</a>
                    <a href="@Url.Action("Update", "Photo", new { id = photo.Id } )" style="width: 70%;" class="btn btn-warning my-2">MODIFICA</a>
                    <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post" style="width: 100%" class="d-flex justify-content-center align-items-center">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" style="width: 70%">
                            CANCELLA
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
}

